* {
	font-size: 50px;
	transition: 1s;
}
body {
	margin: 0;
	padding: 20px;
}
.element {
	pointer-events: none;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	align-content: center;
	justify-items: center;
}
.grid div {
	border: 1px solid black;
	text-align: center;
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}