@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;1,300;1,500&family=IBM+Plex+Serif:ital,wght@0,200;0,400;1,200;1,400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: lighter;
}
h2,h3,h4,h5,h6 {
	font-family: "IBM Plex Serif", serif;
}

/* INTRO */
@keyframes intro {
	100% {
		transform:translateY(-100%);
	}
}
.intro {
	width: 100vw;
	height: 100vh;
	z-index: 999;
	position: absolute;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "IBM Plex Sans";
	animation: .8s 2.5s ease-in intro forwards;
	text-transform: uppercase;
}
.intro h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 4px solid white;
	border-radius: 20px;
	animation: 1s flash step-end 2;
}
.intro-line1 {
	display: inline-block;
	color: white;
	padding: 5px 25px;
}
.intro-line2 {
	padding: 5px 25px;
	display: inline-block;
	background-color: white;
	color: red;
	width: 100%;
	border-radius: 0 0 10px 10px;
}


/* CONTAINERS */
.container {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.phone {
	border-radius: 50px;
	width: 330px;
	height: 660px;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	padding: 20px;
	overflow-y: scroll;
	transition: .2s;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;
	overflow: hidden;
	border: 10px solid black;
}
.phone:hover {
	background-color: rgba(0,0,0,.5);
}
.phone::-webkit-scrollbar {
	display: none;
}
.phone:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
 	transform: scale(1.05); 
}

/* ARTICLE */
@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.article-breaking {
	font-family: "IBM Plex Sans";
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	animation: 1s flash infinite step-end;
	line-height: 1em;
	padding: 10px 0 15px 0;
}
.article-breaking span {
	border: 2px solid red;
	border-radius: 5px;
	padding: 2px 7px 2px 10px;
	font-weight: bold;
	color: red;
}
.article {
	transition: .2s;
	cursor: not-allowed;
}
.article h2 {
	font-size: 30px;
	line-height: 1.2em;
	margin-bottom: 10px;
	transition: .2s;
}
.article h3 {
	font-size: 18px;
	line-height: 1.2em;
	margin-bottom: 20px;
	transition: .2s;
}
.article figure {
	margin-bottom: 20px;
	width: calc(100% + 40px);
}
.fig {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 -20px 5px -20px;
}
.article img {
	width: 100%;
}
.article figcaption {
	font-size: 8px;
	color: rgba(0,0,0,.6);
}
.article p {
	font-size: 14px;
	line-height: 1.2em;
	margin-bottom: 10px;
	font-weight: 300;
	color: rgba(0,0,0,.8);
}
.phone:hover .article {
	opacity: .5;
	filter: grayscale(100%);
}

/* BLOCKER */
.blocker {
	position: absolute;
	bottom: 0;
	background-color: black;
	color: white;
	text-align: center;
	margin: 0 -20px;
	padding: 20px;
	width: 100%;
	transition: .2s;
	transform: translateY(100%);
	border-radius: 20px;
}
.blocker h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
.blocker p {
	font-size: 14px;
}
.phone:hover .blocker {
	transform: translateY(0%);
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
input {
	flex-direction: column;
	border-radius: 5px 5px 0 0;
	margin-top: 15px;
	padding: 5px 15px;
	width: 80%;
	font-size: 14px;
	border: unset;
	text-align: center;
}
button {
	width: 80%;
	font-size: 14px;
	border-radius: 0 0 5px 5px;
	color: white;
	background-color: black;
	padding: 5px 15px;
	line-height: 1em;
	border: 2px solid white;
	border-top: unset;
	font-family: "IBM Plex Sans";
	cursor: pointer;
	transition: .2s;
}
button:hover {
	color: black;
	background-color: white;
}
button:active {
	opacity: .5;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 1000px) {
	.phone {
		transform: scale(.9);
	}
	.phone:hover {
	 	transform: scale(.9); 
	}
}
@media only screen and (max-width: 600px) {
	.phone {
		transform: scale(.8);
	}
	.phone:hover {
	 	transform: scale(.8); 
	}
}